body {
    background-color: #7DC3D9;
}

#navBar {
    background-color: #075F9F;
    border-bottom: 1px solid black;
}

#hero {
    background-color: #075F9F;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 25%;
    padding: 2%;
    border-radius: 10%;
    font-size: 18px;
}

#aboutUs {
    background-color: #075F9F;
}

#projects {
    background-color: #075F9F;
}

#btnProjects {
    margin-left: 100px;
}

#btnEducation {
    margin-left: 100px;
    margin-right: 250px;
}